#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: black;
  border-radius: 10px;
}

.square {
  border-color: rgb(240, 19, 19);
  width: 50px;
  

}
.status {
  color: white;
  padding: 10px;

}